IOT_main laprak 7_ara/flows_temp.json
[
    {
        "id": "8b88f65241fd2f4e",
        "type": "tab",
        "label": "IOT MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7be3fd5d19d83a0",
        "type": "mqtt in",
        "z": "8b88f65241fd2f4e",
        "name": "MQTT data",
        "topic": "IOT/Test1/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fd4cbcbcd29913ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "02e211b7bb351f90",
                "5b6b7f5c5d77d1a6",
                "f933b932defe4689",
                "1de42b0ad1ab856b",
                "bd388ae6b35881f9"
            ]
        ]
    },
    {
        "id": "6dc2c7101b73f23e",
        "type": "inject",
        "z": "8b88f65241fd2f4e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "02e211b7bb351f90"
            ]
        ]
    },
    {
        "id": "02e211b7bb351f90",
        "type": "ui_text",
        "z": "8b88f65241fd2f4e",
        "group": "6cb91646811ccc32",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "5b6b7f5c5d77d1a6",
        "type": "ui_gauge",
        "z": "8b88f65241fd2f4e",
        "name": "",
        "group": "6cb91646811ccc32",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temp",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "f933b932defe4689",
        "type": "ui_chart",
        "z": "8b88f65241fd2f4e",
        "name": "",
        "group": "6cb91646811ccc32",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Chart Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1de42b0ad1ab856b",
        "type": "debug",
        "z": "8b88f65241fd2f4e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "bd388ae6b35881f9",
        "type": "function",
        "z": "8b88f65241fd2f4e",
        "name": "function 1",
        "func": "var xx = msg.payload;\nvar Newobject = {};\nNewobject = {\n    \"temp\": msg.payload.toString()\n}\nmsg.payload = Newobject;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 480,
        "wires": [
            [
                "efc79a152f28c53b"
            ]
        ]
    },
    {
        "id": "efc79a152f28c53b",
        "type": "influxdb out",
        "z": "8b88f65241fd2f4e",
        "influxdb": "2fe9efe09dfa8dfd",
        "name": "InfluxDB",
        "measurement": "Temp",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "NodeRed",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "fd4cbcbcd29913ab",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6cb91646811ccc32",
        "type": "ui_group",
        "name": "IOT",
        "tab": "acc17c2264463766",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2fe9efe09dfa8dfd",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com/",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "acc17c2264463766",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]